
.pie{
    background-color: pink;
    text-align: center;
    font-size: x-small;
    
}

.titulo
{
    background-color: white;
    padding: 2rem;
    font-size: 20px;
    text-align: center;
    
} 

.subtitulo{
    background-color: white;
    padding: 1rem;
    font-size: 15px;
    text-align: left;
}

ul{
    list-style: square;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.detalledepagina{
    text-align: center;
}
.productos{
    flex-wrap: wrap;
}
.productos{
    width: 10%;
}